doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='@giarfa')
    title Giarola Savem
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Poppins:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/css/creative.css', type='text/css')
    //if lt IE 9
      script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') 
      script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top') Giarola
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about')=translations.menu.about
            li
              a.page-scroll(href='#portfolio')=translations.menu.products
            li
              a.page-scroll(href='#history')=translations.menu.history
            li
              a.page-scroll(href='#video')=translations.menu.video
            li
              a.page-scroll(href='#contact')=translations.menu.contact

    header
      .embed-responsive.embed-responsive-16by9.min-height-300
        .header-content
          .header-content-inner
            h1
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462391695/Logo1918b_rebgjd.svg')
            br
            p.hidden-xs=translations.header.longSentence
            a.hidden-xs.btn.btn-transparent-default.btn-xl.page-scroll(href='#contact')=translations.header.buttonContactUs
        video.embed-responsive-item(style='z-index:-1;', preload='auto', autoplay='', loop='', muted='', poster='//unsplash.it/g/1920/1080?image=18&blur')
          source(src='//res.cloudinary.com/giarolasavem/video/upload/v1462720523/video-mp4_ehh0if.mp4', type='video/mp4')
          source(src='//res.cloudinary.com/giarolasavem/video/upload/v1462720512/video-webm_iw7mts.webm', type='video/webm')
          source(src='//res.cloudinary.com/giarolasavem/video/upload/v1462720590/video-mpg_rrthzo.mpeg', type='video/mpg')
  
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading=translations.about.title
            hr.primary
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-globe.wow.bounceIn.text-primary
              h3=translations.about.prop1.title
              p.text-muted!=translations.about.prop1.description
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-key.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3=translations.about.prop2.title
              p.text-muted!=translations.about.prop2.description
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-glass.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3=translations.about.prop3.title
              p.text-muted!=translations.about.prop3.description
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3=translations.about.prop4.title
              p.text-muted!=translations.about.prop4.description

    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462263806/GranCremovo_rq4nfn.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod1
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462263806/VermouthPremiumBianco_vvpu51.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod2
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462722074/penice_lilzyo.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod3
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462722094/grappa_moscato_p1sb6b.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod4
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462263806/MarsalaSecco_jr5tkp.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod5
          .col-lg-4.col-sm-6
            a.portfolio-box
              img.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462739641/sambuca_qarnd27.jpg')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  //.project-category.text-faded  Category 
                  .project-name=translations.products.prod6

    aside.bg-dark
      .container.text-center
        .call-to-action
          h2=translations.products.aLotMore
          a.btn.btn-default.btn-xl.wow.tada(href='/' + lang + '/' + translations.products.link)=translations.products.discover

    section#history
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading=translations.history.title
            h3.section-subheading.text-muted &nbsp;
        .row
          .col-lg-12
            ul.timeline
              li
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462717234/about-1_rdjge1.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event1.title
                    h4.subheading=translations.history.event1.subtitle
                    p.text-muted!=translations.history.event1.description
              li.timeline-inverted
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462717235/about-2_vtpr2h.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event2.title
                    h4.subheading=translations.history.event2.subtitle
                  .timeline-body
                    p.text-muted!=translations.history.event2.description
              li
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462740412/about-33_doyly7.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event3.title
                    h4.subheading=translations.history.event3.subtitle
                  .timeline-body
                    p.text-muted!=translations.history.event3.description
              li.timeline-inverted
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462720273/about-5_mnfaou.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event4.title
                    h4.subheading=translations.history.event4.subtitle
                  .timeline-body
                    p.text-muted!=translations.history.event4.description
              li
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462720273/about-4_pmxiwy.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event5.title
                    h4.subheading=translations.history.event5.subtitle
                  .timeline-body
                    p.text-muted!=translations.history.event5.description
              li.timeline-inverted
                .timeline-image.wow.fadeIn
                  img.img-circle.img-responsive(src='//res.cloudinary.com/giarolasavem/image/upload/v1462720269/about-6_lpwanc.jpg')
                .timeline-panel
                  .timeline-heading
                    h4=translations.history.event6.title
                    h4.subheading=translations.history.event6.subtitle
                  .timeline-body
                    p.text-muted!=translations.history.event6.description
              li.timeline-inverted
                .timeline-image.wow.bounceIn
                  a(href=translations.history.eventFinal.link)
                    h4!=translations.history.eventFinal.sentence

    section#video.no-padding
      .container-fluid
        .row.no-gutter
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='//www.youtube.com/embed/rlUQYNx-YtQ?rel=0', allowfullscreen='')

    aside.bg-primary
      .container.text-center
        .call-to-action
          h2=translations.map.sentence
          a.btn.btn-default.btn-xl.wow.tada(href='https://goo.gl/maps/B8iHa')!=translations.map.button

    section#map
    
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading=translations.contact.title
            hr.primary
            p!=translations.contact.longSentence
          .col-lg-4.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p (+39) 0523 820446
          .col-lg-4.text-center
            i.fa.fa-fax.fa-3x.wow.bounceIn
            p (+39) 0523 820225
          .col-lg-4.text-center
            a(href=translations.contact.emailHref)
              i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              p
                | info@giarolasavem.com
          .col-lg-8.col-lg-offset-2.text-center
            hr.primary
            br
            h2
              img(src='//res.cloudinary.com/giarolasavem/image/upload/v1462263806/Logo1918R_apjgnq.svg')
            p!=translations.contact.finalSentence

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA')
    script(src='js/creative.js')
